/modules
/node_modules
/.cache
/.next
/.vercel
/.nuxt
/.output
/dist
/build
/public
/.out
/.docusaurus
/.vitepress
/.storybook
/.svelte-kit
/.astro
/.eleventy
/.vuepress
/.jekyll
/.jekyll-cache
/.jekyll-metadata
/.jekyll-plugins
/.jekyll-theme
/.jekyll-theme-cache
/.jekyll-theme-metadata
/.jekyll-theme-plugins
/.jekyll-theme-templates
/.jekyll-theme-assets
/.jekyll-theme-scripts
/.jekyll-theme-styles
/.jekyll-theme-images