.flex {
    display: flex;
}

.body {
    background-color: #0f172a;
    color: #f8fafc;
}

.button {
    background-color: #3b82f6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

#f1 {}

#b1 {}